<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    姓: <input type="text" v-model="firstName"><br />
    名: <input type="text" v-model="lastName"><br />
    <span>全名: {{getFullName()}}</span>
  </div>

  <script type="text/javascript">
    new Vue({
      el: '#root',
      data: {
        firstName: '周',
        lastName: 'Z'
      },
      methods: {
        getFullName() {
          return this.firstName + this.lastName;
        },
      },
    });
  </script>
</body>

</html>